
= form_for @profile.new_post, html: { multipart: true } do |f|
	.form-group
		= f.text_field :title, placeholder: "Title goes here", class: "form-control"

	.form-group
		= f.trix_editor :body, placeholder: "Write something here", rows: 12, class: "form-control"

	.form-group
		%label{:for => "image"}
		= f.file_field :image

	= f.submit 'Publish', class: "button"

