= div_for comment do
	%article
		.comment-image
			%img{:src => "#{comment.user.avatar.url(:medium)}", :alt => "#{comment.user.username}"}/

		.comment-content
			%p= comment.body
			%p.comment-detail= comment.user.username

