%article.mw7.center.ph3.ph5-ns.tc.br2.pv5.bg-light-grey.mb5
	- if user_signed_in?
		%h1.fw6.f3.f2-ns.lh-title.mt0.mb3 Freshly published
		- @posts.each do |p|
			.pa4
				%blockquote.athelas.ml0.mt0.pl4.black-90.bl.bw2.b--blue
					%h1.fw6.f3.f2-ns.lh-title.mt0.mb3= p.title
					%p.f5.f4-m.f3-l.lh-copy.measure.mt0= p.body.truncate(100) + "..."

					%cite.f6.ttu.tracked.fs-normal= link_to p.user.username, p.user
			
	- else
		%h1.fw6.f3.f2-ns.lh-title.mt0.mb3 Read, Write, Read later.

		%h2.fw2.f4.lh-copy.mt0.mb3
			Connect with your friends, readers and other writers by writing and reading stories. Read stories from topics that interest you.

		%p.fw1.f5.mt0.mb3 Sign up to get started.
			
		= link_to "Sign up", new_user_registration_path, class: 'f6 f5-ns fw6 dib ba b--black-20 bg-blue white ph3 ph4-ns pv2 pv3-ns br2 grow no-underline'
		-# = link_to "Learn More", root_path, class: "f6 br-pill dark-green no-underline ba grow pv2 ph3 dib
		%br/
		%br/
		%br/
		%h1.fw6.f3.f2-ns.lh-title.mt0.mb3 Freshly published
		- @posts.each do |p|
			.pa4
				%blockquote.athelas.ml0.mt0.pl4.black-90.bl.bw2.b--blue
					%h1.fw6.f3.f2-ns.lh-title.mt0.mb3= p.title
					%p.f5.f4-m.f3-l.lh-copy.measure.mt0= p.body.truncate(100) + "..."

					%cite.f6.ttu.tracked.fs-normal= link_to p.user.username, p.user
			
	