= div_for post do

	%article.comment
		.comment-image
			%img{:src => "#{post.user.avatar.url(:medium)}", :alt => "#{post.user.username}"}/

		.comment-content
			%h1= link_to post.title, post_path(id: post.id)
			%p.comment-detail= link_to post.user.username, post.user
