


= div_for @post do
	%article
		%h2.my-5= @post.title
		%span 
			By
			= link_to "#{@post.user.username}", @post.user
		= social_share_button_tag(@post.title, desc: "#{@post.body.truncate(40)}")
		- if user_signed_in? && current_user == @post.user
			%span= link_to "Edit this post", edit_post_path(@post)
					
		
		-# %small= time_ago_in_words(@post.created_at) + " ago"
		-# %span
		

		.pa4.ph7-l.mw9-l.measure.center
			- if @post.image?
				%img{:src => "#{@post.image.url}", :alt => "#{@post.title}", class: 'w-100 f5 measure'}/
			%p.f5.f3-ns.lh-copy= @post.body.html_safe
%h3.my-4 Comments
#comments
	= render @comments


= render 'comments/new'
	
	