<!DOCTYPE html>
<html>
  <head>
    <title>Writ</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
  	<%= render 'layouts/header' %>
    <% if alert %>
      <p><%= alert %></p> 
    <% end %>
    <% if notice %>
      <%= notice %>
    <% end %>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
